<!-- formulario -->
<div class="container fundo-form">
  <h2>{{title}}</h2>
  

  <form  [formGroup]="formUser" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" placeholder="digite o nome" 
       formControlName="name"
        name="name" required
         />
         <!-- [class.field-error]="form.submitted && nameField.invalid" 

      <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
        Enter name
      </div> -->
    </div>

    <button
      type="button" class="btn btn-primary" 
      formControlName="singleModel"
      name="singleModel" btnCheckbox
      btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{singleModel}}
    </button>

    <div>
      <label for="StarDate">Start Date</label>
      <input type="text" placeholder="click aqui para adicionar data"
      [bsConfig]="{containerClass:'theme-orange'}"
      formControlName="startDate"
      name="startDate" class="form-control"
        bsDaterangepicker>
    </div>


    <div class="form-check form-group mt-3">
      <label class="form-check-label" for="email">
        Email :
      </label>
      <input class="form-control" type="email" placeholder="digite seu email" name="email"
        formControlName="email"
       />
    </div>

    <hr class="my-4">

    <p>User interface Style</p>


    <div class="form-group">
      <div class="btn-group">
        <label class="btn btn-primary" formControlName="interfaceStyle" name="gender" btnRadio="Ligth"
          tabindex="0" role="button">Ligth</label>
        <label class="btn btn-primary" formControlName="interfaceStyle" name="gender" btnRadio="Medium"
          tabindex="0" role="button">Medium</label>
        <label class="btn btn-primary" formControlName="interfaceStyle" name="gender" btnRadio="Dark"
          tabindex="0" role="button">Dark</label>
      </div>
    </div>

    <hr class="my-4">

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType"
      formControlName="subscriptionType">
        <option *ngFor="let type of subscriptionTypes | async">
          {{type}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="notes">Notes</label>
      <textarea id="notes" name="notes" class="form-control" rows="3" 
      formControlName="notes"
      ></textarea>
    </div>

    <!-- mensagem de erro -->
    <div [hidden]="!postError" class="alert alert-danger">
      {{postErrorMessage}}
    </div>

    <div class="container fundo-form align-items-center mt-5 mb-4">
      <input type="submit" class="btn btn-primary" value="adicionar" [disabled]="!formUser.valid">
    </div>
  </form>
</div>



