h2{
  text-align: center;
}

.field-error {
  border: 1px solid red;
}

.invalid-feedback {
  color: red;
  font-size: 1em;
}

.container{
  max-width: 650px;
}

.obrigatorio{
color: red;
}

.mt-top{
  margin-top: 20px;
}

.btn-ml-0{
  margin-right: 5px;
}